# WordPress
*.log
.htaccess

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Composer
/vendor/

# Build
/dist/
/build/
